/* .container{
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice{
  text-align: center;
  display: inline-block;
}
body{
  background-color: darkolivegreen;
}
h1{
    font-family:Tangerine, serif;
    font-size: 7rem;
    font-weight: bold;
    margin: 30px;
    text-shadow: 5px 0 rebeccapurple;
    text-align: center;
    padding-top: 10px;
    color: rgb(45, 220, 168);
}


img{
  width: 8%;
} */






































.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #535283;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
